.App {
  text-align: center;
}

.frontcard {
  height:200px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:10%;
  border-radius: 10px;
  background: #6c7ac9 !important;
  color: white
}

.backcard {
  height:200px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:10%;
  border-radius: 10px;
  background: #117982 !important;
  color: white
}

.eachcard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}


.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  max-width: 800px;
  margin:auto
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

.box {
  border-radius: 10px;
  border: 1px solid black;
  padding: 0 20px 20px;
  margin: 20px 0

}

.container {
  
}

.flippy-container {
  margin:auto
}

.purple {
  background-color: #6c7ac9 !important;
}

.green {
  background-color: #117982 !important;
}